<div class="switch iapp-party-select">
        <label>
            <input type="radio" class='iapp-last-week-radio' name='last-week' checked>
            <div class="iapp-toggle-name">
                Republican
            </div>
        </label>
        <label>
            <input type="radio" class='iapp-last-week-radio' name='last-week'>
            <div class="iapp-toggle-name">
                Democrat
            </div>
        </label>
    </div>
<div class="iapp-race-select-wrap">
    <span class="iapp-race-select-display">National &#9660;</span>
    <select id="race-select" class="iapp-race-select" name="race">
        <option value="national">National</option>
        <option value="iowa">Iowa</option>
    </select>
</div>
