<div class="iapp-fever-nav-chart-wrap">
    <div class="iapp-fever-nav-container">
        <div class="iapp-fever-nav-chart-inner-wrap"></div>
    </div>
</div>
<div class="iapp-fever-nav-scrubber-container">
    <div class="iapp-fever-nav-scrubber-wrap">
        <div class="iapp-fever-nav-scrubber-top"></div>
        <div class="iapp-fever-nav-scrubber-line"></div>
        <div class="iapp-fever-nav-scrubber-bottom"></div>
    </div>
</div>
<div class="iapp-scrubber-track iapp-scrubber-track-top"></div>
<div class="iapp-scrubber-track iapp-scrubber-track-bottom"></div>
