.iapp-branding {
    margin: 0 auto;
    padding-top: 1em;
    text-align: center;
}

.iapp-title {
    color: $medium-grey;
    display: inline-block;
    font-size: 2.5em;
    margin: 0 0 0.5em 0;
    // padding: 0 .33em;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: $medium-break) {
        font-size: 1.8em;
    }
}

.iapp-title-bold {
    font-family: "Futura Today DemiBold", Arial, sans-serif;
    margin-right: 15px;
}

.iapp-title-light {
    font-family: "Futura Today Light", Arial, sans-serif;
}

.iapp-election-logo {
    display: block;
    margin: 0 auto 1em auto;
    max-width: 300px;
    width: 100%;
    @media (max-width: $medium-break) {
        width: 60%;
    }
}

.iapp-branding a {
    display: block;
}

.iapp-rcp-logo {
    width: 170px;
}
