.iapp-branding {
    padding-top: 1em;
    position: relative;
    text-align: left;
    @media (max-width: $medium-break) {
        margin: 0 auto;
        text-align: center;
    }
    @media(max-width: $large-break) {
        padding: 1em 2em;
    }
}

.iapp-title {
    color: $medium-grey;
    display: inline-block;
    font-size: 2em;
    margin: 0 0 0.5em 0;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: $large-break) {
        font-size: 1.8em;
    }
    @media (max-width: $medium-break) {
        font-size: 1.8em;
    }
}

.iapp-title-bold {
    font-family: "Futura Today DemiBold", Arial, sans-serif;
    margin-right: 15px;
}

.iapp-title-light {
    font-family: "Futura Today Light", Arial, sans-serif;
}

.iapp-election-logo {
    display: inline-block;
    margin-right: 20px;
    margin-top: 0.75em;
    max-width: 250px;
    width: 100%;
    vertical-align: top;
    @media (max-width: $large-break) {
        max-width: 230px;
    }
    @media (max-width: $medium-break) {
        display: block;
        margin: 0 auto 1em auto;
        max-width: 60%;
        width: 250px;
    }
    img {
        width: 100%;
    }
}

.iapp-branding a {
    display: block;
    @media(min-width: $medium-break) {
        bottom: 0.5em;
        position: absolute;
        right: 1em;
    }
    @media(min-width: $large-break) {
        right: 0;
    }
}

.iapp-rcp-logo {
    width: 170px;
}
