.iapp-branding {
    margin: 0 auto;
    max-width: 300px;
}

.iapp-title {
    color: $medium-grey;
    font-size: 2.5em;
    margin: 0;
    padding: 0 .33em;
    text-align: center;
    text-transform: uppercase;
}

.iapp-title-bold {
    font-family: "Futura Today DemiBold", Arial, sans-serif;
}

.iapp-title-light {
    font-family: "Futura Today Light", Arial, sans-serif;
}

.iapp-election-logo {
    width: 100%;
}
