.iapp-candidate-detail-wrap {
    margin: 20px 0;
    transform: translateX(-100%);
}

.iapp-candidate-bar {
    // border: solid 1px $medium-grey;
    @include BoxShadowHelper(1);
    height: 40px;
    width: 100%;
}

.iapp-candidate-info {
    font-family: "Futura Today DemiBold", Arial, sans-serif;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(140px, -50%);
    width: 100px;
}

.iapp-candidate-photo {
    // border-radius: 30px;
    // @include BoxShadowHelper(2);
    bottom: 0;
    // height: 55px;
    // filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    position: absolute;
    right: -40px;
    // top: 0;
    width: 90px;
    img {
        display: block;
        // left: 0;
        // position: absolute;
        // top: 0;
        width: 100%;
    }
}

.iapp-candidate-inactive {
    opacity: 0.5;
}
