.iapp-party-select {
    // display: none;
    margin: 2em auto;
    width: 320px;
}

.iapp-party-select-button {
    background-color: $blue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Futura Today Light" , Arial, sans-serif;
    height: 40px;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    width: 130px;
    @include BoxShadowHelper(1);
    &:hover {
        @include BoxShadowHelperInset(2);
    }
}

.iapp-race-select-wrap {
    background-color: white;
    border-radius: 5px;
    color: $medium-grey;
    font-family: "Futura Today DemiBold" , Arial, sans-serif;
    margin-bottom: 1em;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    width: 130px;
    @include BoxShadowHelper(1);
}

.iapp-race-select {
    bottom: 0;
    display: block;
    font-size: 2em;
    height: 40px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 10px;
    width: 100%;
}

.iapp-race-select-display {
    
}

