.iapp-control-wrap {
    padding: 0 5%;
}

.iapp-party-select {
    // display: none;
    margin: 2em auto;
    max-width: 100%;
    width: 320px;
}

.iapp-party-select-button {
    background-color: $blue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Futura Today Light" , Arial, sans-serif;
    height: 40px;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    width: 130px;
    @include BoxShadowHelper(1);
    &:hover {
        @include BoxShadowHelperInset(2);
    }
}

.iapp-race-select-wrap {
    background-color: white;
    border-radius: 5px;
    color: $medium-grey;
    display: inline-block;
    font-family: "Futura Today DemiBold" , Arial, sans-serif;
    margin-bottom: 1em;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    @include BoxShadowHelper(1);
}

.iapp-race-select {
    bottom: 0;
    display: block;
    // font-size: 2em;
    height: 40px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 10px;
    width: 100%;
}

.iapp-control-row {
    display: flex;
    justify-content: space-between;
}

.iapp-race-select-display {
    
}

.iapp-race-select-outer {
    // width: 33%;
}


.iapp-share-wrap {
    // flex-grow: 1;
    text-align: center;
    // width: 33%;
}

.iapp-info-button {
    cursor: pointer;
    text-align: right;
    position: absolute;
    top: 5px;
    right: 5px;
    // width: 33%;
}
