$horizontal-padding: 20px;

.iapp-fever-nav-wrap {
    background: $light-grey;
    bottom: 0;
    padding: 30px $horizontal-padding;
    position: fixed;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    @include BoxShadowHelper(2);
}

.iapp-fever-nav-chart-wrap {
    border-radius: 8px;
    @include BoxShadowHelper(1);
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}

.iapp-fever-nav-chart-inner-wrap {
    background-color: white;
    display: block;
    left: -100%;
    position: relative;
    width: 200%;
}

.candidate {
    fill: none;
}

.line {
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
    stroke-width: 3px;
}

.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}

.iapp-fever-nav-scrubber-wrap {
    bottom: 0;
    position: absolute;
    right: $horizontal-padding;
    top: 0;
    width: 100px;
    // transform: translate(50%, 0);
}

.iapp-fever-nav-scrubber-top {
    background-color: $dark-grey;
    border-radius: 5px;
    color: white;
    cursor: grab;
    height: 30px;
    font-family: "Futura Today Light", Arial, sans-serif;
    font-size: 0.8em;
    padding: 5px;
    // padding: 0 1em;
    position: relative;
    text-align: center;
    width: 100px;
    z-index: 10;
    @extend .triangle;
}


.iapp-fever-nav-scrubber-line {
    background: $medium-grey;
    bottom: 0;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    width: 1px;
    z-index: 9;
}

.iapp-fever-nav-scrubber-bottom {
    background: $dark-grey;
    border-radius: 5px;
    bottom: 0;
    height: 30px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.ui-draggable-dragging .iapp-fever-nav-scrubber-top {
    cursor: grabbing;
}
