@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}

.iapp-loader-wrap {
  background: rgba(255, 255, 255, 0.5);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 126px;
  width: 100%;
  z-index: 501;
  .loader-img {
    animation: spin 1s linear infinite;
    display: block;
    height: 80px;
    width: 80px;
  }
}

.loader-img-wrap{
  // animation: spin 1.5s linear infinite;
  display: block;
  height: 80px;
  left: 50%;
  position: absolute;
  // top: 50%;
  transform: translate(-50%, 0);
  width: 80px;
}

.loader-logo {
  display: block;
  left: 50%;
  max-width: 100%;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 400px;
}

