.iapp-share-button {
    display: inline-block;
    // margin: 0 0.5% 1em 0.5%;
    max-width: 30%;
    vertical-align: middle;
    width: 40px;
    img {
        display: block;
        width: 100%;
    }
}

.iapp-share-wrap {
    // display: inline-block;
    // float: right;
}

.iapp-share-buttons {
    // margin: 2em auto 0 auto;
    // max-width: 200px;
}

@media(max-width: 600px) {
    .iapp-share-button {
        // margin-top: 0.5em;
    }
    .iapp-share-buttons {
        // margin-top: 1em;
    }
}
